exportPattern("^[[:alpha:]]+")
import("rstan")
#import("statnet")
import("ggplot2")
import("parallel")
import("ergm")
import("network")
importFrom(stats, simulate)
importFrom(stats, update.formula)
importFrom(ergm, simulate.formula)
importFrom(ergm, ergmMPLE)
importFrom(ergm, ergm)
importFrom(ergm, coef.ergm)
importFrom(network, network.dyadcount)
importFrom(network, is.directed)
importFrom(network, network.density)
importFrom(network, network)

